<div class="nav">
	<img class="patient_image" src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Boss-3-icon.png">
	<div class="sidebar">
		<h3 class="patient_info patient_name">JOHN DOE</h3>
	<p class="patient_info"><b>Age:</b> 51</p>
	<p class="patient_info"><b>BMI:</b> 24</p>
	<p class="patient_info"><b>Days Since Surgery:</b> 20 days</p>
	<p class="patient_info"><b>Marital Status:</b> Married</p>
	<p class="patient_info"><b>Medical Conditions:</b> </p>
	<ul>
		<li class="patient_info">Diabetes</li>
		<li class="patient_info">High Blood Pressure</li>
	</ul>

	<p class="patient_info"><b>Notes:</b> </p>
	<ul>
		<li class="patient_info"><b>Social Activity: fair</b></li>
		<li class="patient_info"><b>Surgery:</b>3/24/2018</li>
		<li class="patient_info"><b>Readmitted:</b> 4/10/2018 </li>
		<li class="patient_info"> Treated for blood clot in leg on 4/10. Perscribed Warfarin. Released 4/12. </li>
	</ul>

	</div>
</div>
  	