.nav {
	position: fixed;
	width: 225px;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #354a60;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1000;
}


.sidebar { 
	text-align: left;
	padding: 0px 15px;
}

.wrapper {
	position: relative;
}

.divider {
	position: absolute;
	display: flex;
	align-items: center;
	top: -10px;
	left: 10px;
	width: 100%;
	height: 80px;
	background-color: #5d6e7f;
}

.logo {
	width: 50px;
	height: 50px;
	margin-left: 245px;
}

.patient_image {
	width: 120px;
	margin-top: 50px;
	margin-bottom: 40px;
}

.patient_info {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 0.8em;
}

.patient_name {
	font-size: 1em;
	font-weight: bold;
}

.chart {
    width: 45%;
    height: 360px;
    margin-left: 3%;
    padding-top: 1%;
}

@media screen and (max-width: 1439px) {
	.chart {
	    height: 330px;
	}

	.nav {
		width: 200px;
	}

	.logo {
		margin-left: 220px;
	}
}

@media screen and (max-width: 1300px) {
	.chart {
	    width: 100%;
	    height: 330px;
	    margin-left: 3%;
	    padding-top: 1%;
	}

	.highcharts-range-selector-group {
		display: none;
	}

	.nav {
		width: 200px;
	}

	.logo {
		margin-left: 220px;
	}
}



#container {
	display: flex;
	flex-wrap: wrap;
	margin-left: 200px;
}

.title_bar {
	background-color: #484848;
	color: white;
	width: 150px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.status { 
	width: 8%;
	margin-right: 10px;
}

.tooltip {
	display:inline;
	margin-right:6px;
}
